* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* height: 100%; */

  /* background-color: #ffffff; */
}

.navbar {
  margin-top: 1rem;
  width: 96%;
  margin: 10px auto;
  display: flex;
  /* made it wrap else it will overflow in smaller screen, distorting the design */
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-shrink: 0;
}

.logo img {
  width: 80%;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

nav ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #4a4a4a;
}

.nav-items {
  padding: 1rem 2.1rem;
  margin-bottom: 5px;
}

.blog {
  border-bottom: 3px solid #192d55;
}

hr {
  background-color: #192d55;
}

.line {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 35px;
  height: 3px;
  outline: none;
  /* margin-top: 5px; */
  color: #192d55;
}
.nav-items2 {
  padding: 0.5rem 1.5em;
}

.signup {
  color: #ffffff;
  background-color: #192d55;
}

header {
  /* display: flex; */
  width: 96%;
  margin: 50px auto;
  /* background-color: #315AA9; */
}

.header {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  background-color: #315aa9;
  position: relative;
  height: 200px;
  border-radius: 30px;
}

.header img {
  /* width: 50%; */
}

.header h3 {
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
  z-index: 1000;
  top: 80px;
  left: 50px;
  right: 50px;
  position: absolute;
  /* margin-top: 50px; */
}

.spk {
  position: absolute;
  left: 25%;
  top: 15%;
}

.spkk {
  position: absolute;
  left: 5%;
  top: -15%;
}
.circ1 {
  position: absolute;
  left: 17%;
  top: 20%;
  z-index: 10000;
}

.circ2 {
  position: absolute;
  right: 15%;
  bottom: 18%;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.inp {
  margin: 0 auto;
  position: absolute;
  bottom: -20%;
  /* text-align: center; */
  left: 0;
  /* you gave it a static width which is bigger than the body it over flowed, i suggest you use percent
  /* width: 600px; */
  padding: 30px 90px;
  outline: none;
  border: none;
  border-radius: 10px;
  right: 0;
  box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.input img {
  position: absolute;
  bottom: -7%;
  left: 30%;
}

.container {
  width: 93%;
  margin: 0 auto;
}

.tp {
  display: flex;
  /* added wrap here as well */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.topics {
  padding: 1rem 0;
  margin-bottom: 20px;
}

.card {
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 600px;
}

.sub {
  color: #315aa9;
  font-weight: 500;
  font-size: 1.7rem;
  word-spacing: 8px;
}

.articles {
  /*the grid was bigger than the body, it overflowed
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 50px;
}

.crdimg {
  margin-bottom: 10px;
  /* position: relative; */
}

.ttt {
  position: relative;
}

.cate {
  position: absolute;
}

.xxx {
  color: #4a4a4a;
  margin-top: 25px;
  font-size: 1.1rem;
  /* line-height: 1.5rem; */
  word-spacing: 7px;
}

.auth {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.name {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.badge {
  position: absolute;
  right: 15px;
  top: 20px;
  border-radius: 6px;
  font-size: 13px;
  background-color: #315aa9;
  color: #ffffff;
  padding: 0.2rem 1rem;
}

footer {
  background-color: #315aa9;
}

.footer {
  /* display: flex; */
  /* justify-content: space-between; */
  /* background-color: #315AA9; */
  height: 270px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  position: relative;
  margin-top: 100px;
  padding: 3rem 1rem 2rem 1rem;
}

.hh {
  position: absolute;
  top: 10%;
  left: 10%;
}

.sp {
  display: flex;
  justify-content: space-between;
}

.log {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socials a {
  text-decoration: none;
}

.explore ul {
  list-style-type: none;
  padding: 0.5rem 0;
}

.explore ul li {
  padding: 0.3rem 0;
}

.explore ul li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.message input {
  /* it was overflowing the container soo i removed it, we need to redesign it to not overflow */
  /* padding: 0.5rem 4rem; */
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
}

.message button {
  margin-left: -10px;
  padding: 0.5rem 1rem;
  border: 0;
  outline: 0;
  color: white;
  background-color: #192d55;
}

.wrapper {
  height: 80vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  margin-top: 20px;
  background-color: #192d55;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

/* MEDIA QUERIES FOR BLOG PAGE STARTS HERE */

@media screen and (max-width: 700px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* MEDIA QUERIES FOR BLOG PAGE ENDS HERE */
