*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

.navbar{
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #4e4e4e;
}

.nav-items{
    padding:1rem 2.1rem;
}
.nav-items2{
    padding: 1rem;
}